{
  "presets": [
    [
      "@babel/env",
      {
        targets: {
          chrome: '58'
        }
      }
    ]
  ],
  "plugins": [
    "transform-custom-element-classes",
    "@babel/plugin-syntax-dynamic-import"
  ]
}